@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  background-color: #0f0f0f;
}

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

html::-webkit-scrollbar
{
	width: 10px;
  height: 8px;
	background-color: transparent;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ff0000;
}


@layer components {
  .btn {
    @apply py-2 px-6 bg-gradient-to-r from-red-800 via-red-600 to-red-400 text-black border-1 border-transparent font-semibold cursor-pointer rounded-3xl shadow-md hover:border-white hover:via-blue-300 hover:to-blue-500 hover:text-white hover:shadow-lg active:scale-90 transition-all;
  }
}
.swiper-pagination-bullet{
  background-color: red;
}
.swiper-button-prev,
.swiper-button-next{
  color: red;
}

@media (max-width: 768px) {
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    display: none !important;
  }
}
